$color-primary-dark: #17152f;
$color-primary: #23395b;

$color-text-white: #fff;
$color-text-black: #000;
$color-text-grey: #818791;
$color-text-grey-light: #e3e3e3;
$color-text-blue: #0064ab;
$color-text-blue-dark: #00406e;
$color-text-primary: #20252c;