body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.primary-heading {
    font-size: 3.4rem;
    font-weight: 300;
    color: $color-text-primary;
    line-height: 2.6rem;

    &--white {
        color: $color-text-white;
    }
}

.tertiary-heading {
    color: $color-text-grey;
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;

    &--black {
        color: $color-text-black;
    }
}

.paragraph-text {
    font-size: 2rem;
    color: $color-text-grey;
    line-height: 2.8rem;
    font-weight: 300;
}