.technologies {
    padding: 12rem 0;
    border-bottom: .05px solid $color-text-grey;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    padding: 12rem 0 0 0;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__details {
        width: 70rem;
    }

    &__photo {
        width: 53rem;
        box-shadow: 0 2px 3.4rem 0 rgba(0, 0, 0, .5);
    }
}

.learn-more {
    padding: 12rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include gradient;

    &__options {
        
    }
}